if publicacion.Archivos && publicacion.Archivos.length > 0

    each archivo in publicacion.Archivos

        if archivo.tipo && archivo.tipo.startsWith('image')

            if archivo.tieneCopyright && archivo.rutaProtegida

                img(
                    src=`/uploads/${archivo.rutaProtegida}`
                    alt='Imagen protegida'
                    width='100%'
                )

            else

                img(
                    src=`/uploads/${archivo.ruta}`
                    alt='Imagen original'
                    width='100%'
                )

        else if archivo.tipo && archivo.tipo.startsWith('video')

            video(width='100%' controls)

                source(
                    src=`/uploads/${archivo.ruta}`
                    type=archivo.tipo
                )

        else

            p.text-muted
                | Archivo no compatible