div.colecciones.mt-3

    if currentUser

        h5
            | Guardar en colección

        if colecciones && colecciones.length > 0

            each coleccion in colecciones

                form(
                    action=`/colecciones/${coleccion.id}/agregar/${publicacion.id}`
                    method='POST'
                    style='display:inline-block; margin-right: 5px;'
                )

                    button.btn.btn-sm.btn-secondary(type='submit')
                        | Guardar en #{coleccion.nombre}

        else

            p.text-muted
                | Todavía no tenés colecciones.