extends layout

block content
    .login-container
        .login-card
            h1 Fotaza
            .login-subtitulo Compartí tus momentos favoritos

            if error
                .error-message #{error}

            form(action='/login' method='POST')
                .form-group
                    label(for='dni') DNI
                    input#dni(
                        type='text'
                        name='dni'
                        placeholder='Ingresá tu DNI'
                        required
                        autofocus
                    )

                .form-group
                    label(for='password') Contraseña
                    input#password(
                        type='password'
                        name='password'
                        placeholder='********'
                        required
                    )

                button.btn-login-moderno(type='submit') Ingresar

            .login-links
                a(href='/recuperar') ¿Olvidaste tu contraseña?
                p
                    | ¿No tenés cuenta? 
                    a(href='/usuarios/nuevo') Registrate