extends layout

block content

    .modificar-container

        .modificar-card

            h1  Modificar contraseña

            p.modificar-subtitulo
                Actualizá tu contraseña para mantener tu cuenta segura.

            if error
                p.error-message= error

            if mensaje
                p.success-message= mensaje

            form(action='/modiContra' method='POST')

                .form-group

                    label(for='passwordActual')
                        | Contraseña actual

                    input(
                        type='password'
                        id='passwordActual'
                        name='passwordActual'
                        placeholder='Ingresá tu contraseña actual'
                        required
                    )

                .form-group

                    label(for='passwordNueva')
                        | Nueva contraseña

                    input(
                        type='password'
                        id='passwordNueva'
                        name='passwordNueva'
                        placeholder='Ingresá tu nueva contraseña'
                        required
                    )

                button.btn-modificar(type='submit')
                    | Guardar contraseña