extends layout

block content

    .recuperar-container

        .recuperar-card

            h1  Recuperar contraseña

            p.recuperar-subtitulo
                Ingresa el dni para recuperar el acceso a tu cuenta.

            if error
                p.error-message= error

            if mensaje

                p.success-message= mensaje

                a.btn(href='/login')
                    | Ir a iniciar sesión

            else

                form(action='/recuperar' method='POST')

                    .form-group

                        label(for='dni')
                            | DNI

                        input(
                            type='text'
                            id='dni'
                            name='dni'
                            placeholder='Ingresá tu DNI'
                            required
                        )

                    button.btn-recuperar(type='submit')
                        | Recuperar contraseña